$color__primary: #566f6b;
$color__secondary: #8bbeb7;
$color__tertiary: #162d27;
$color__gray: #b4bdba;
$color__dark: #000;
$color__light: #fff;

$unit__tiny: 0.4rem;
$unit__small: 0.8rem;
$unit__normal: 1.6rem;
$unit__submedium: 2.4rem;
$unit__medium: 3.2rem;
$unit__large: 4.8rem;
$unit__huge: 6.4rem;
$unit__gigantic: 12.8rem;
