@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
}

.inner-container {
  width: 120rem;
  margin: auto;
  padding: 0.8rem;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  background: #566f6b;
}

.header-container {
  padding: 3.2rem 0;
  margin: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2.4rem;
}

.logo-wrapper {
  width: 20rem;
}

.logo {
  width: 100%;
}

.nav-link {
  font-weight: 700;
}
.nav-link:link, .nav-link:visited {
  color: #8bbeb7;
  transition: all 0.3s;
}
.nav-link:hover, .nav-link:active {
  color: #fff;
}

.hero-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.6rem;
}

.hero-link {
  padding: 1.6rem 3.2rem;
  border-radius: 25px;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.hero-link:link, .hero-link:visited {
  color: #fff;
  background: transparent;
  transition: all 0.5s;
}
.hero-link:hover, .hero-link:active {
  color: #566f6b;
  background: #fff;
}

.wolf-link {
  padding: 1.6rem 3.2rem;
  border-radius: 25px;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
}
.wolf-link:link, .wolf-link:visited {
  color: #566f6b;
  background: #fff;
  transition: all 0.5s;
}
.wolf-link:hover, .wolf-link:active {
  color: #fff;
  background: #000;
  border: 2px solid #fff;
}

.footer-link:link, .footer-link:visited {
  color: gray;
  transition: all 0.3s;
}
.footer-link:hover, .footer-link:active {
  color: #000;
}

.hero {
  background: #566f6b;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40rem;
}

.hero-desc__title {
  font-size: 3.2rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.2rem;
}
.hero-desc__text {
  width: 75%;
  color: #8bbeb7;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.hero-product {
  position: relative;
  width: 50rem;
}

.hero-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-200px);
}

.main-content {
  margin: 12.8rem auto;
  padding: 3.2rem 0;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4.8rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.center {
  width: 120rem;
}

.content-image {
  width: 100%;
}

.content__title {
  text-transform: uppercase;
  color: #b4bdba;
  font-size: 4.8rem;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6.4rem;
}

.article {
  line-height: 1.5;
}

.left {
  text-align: right;
}

.product {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;
}

.early-bird-content {
  background: #8bbeb7;
  margin: 12.8rem auto;
}

.early-bird-container {
  position: relative;
  min-height: 30rem;
}

.early-bird-product {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-10%, -20%);
}

.early-bird-offer {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;
}

.main-product-container {
  margin: 3.2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4.8rem;
}

.products {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__title {
  font-size: 4.8rem;
  color: #b4bdba;
  text-transform: uppercase;
}

.testimonial-content {
  margin: 6.4rem auto;
}

.testimonial-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.author-job {
  color: #b4bdba;
  text-shadow: 0 2px 2px #eee;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4.8rem;
}

.testimonial {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 0.8rem;
}

.author-image-wrapper {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  overflow: hidden;
}

.author-image {
  width: 100%;
  height: auto;
}

.footer-content {
  background: #e7e7e7;
}

.footer-container {
  position: relative;
  padding: 3.2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.8rem;
}

.links-title {
  margin: 0.8rem auto;
}

.attribution {
  position: absolute;
  bottom: 10px;
  right: 0;
  text-align: right;
  font-size: 1.2rem;
}

.attribution__link {
  padding: 0.8rem;
  display: inline-block;
  transition: all 0.3s;
}

.attribution__link:link,
.attribution__link:visited {
  background: #ff6501;
  color: #ffffff;
}

.attribution__link:hover,
.attribution__link:active {
  background: #000000;
  transform: scale(1.1) translate(5px, -2px) skewY(-5deg);
}

/*# sourceMappingURL=main.css.map */
